{% extends "base.html" %}

{% block content %}
<h3>Paieškos frazė: {{ paieskos_tekstas_t }}</h3>
{% if paieskos_rezultatai_t %}
    {% for kompiuteris_o in paieskos_rezultatai_t %}
    <p> {{ kompiuteris_o.stacionarus }}, {{ kompiuteris_o.nesiojamasFK.pavadinimas }} </p>
    <p>
        <a href="{% url 'stacionarus-vienas-url' kompiuteris_o.id %}">{{ kompiuteris_o.stacionarus }}</a>,
        <a href="{% url 'nesiojamas-vienas-url' kompiuteris_o.nesiojamasFK.id %}">{{ kompiuteris_o.nesiojamasFK.pavadinimas }}</a>
    </p>
    {% endfor %}
{% else %}
    <p>Pagal jūsų paiešką nieko nerasta...</p>
{% endif %}
{% endblock %}
